<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Travel Diary/LIST-DETAILS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Trip Details:</h1>

    <h2><strong>@Model.CityName</strong></h2>
    <img src="@Model.Location_Image" alt="trip location" width="300">
    <h6><strong>Who I travelled with:</strong> <em>@Model.Partner</em></h6>
    <h6><strong>How many days I stayed:</strong> <em></em>@Model.DaysStayed</em></h6>
    <p><strong>Journal about my vacation:</strong> @Model.Journal</p>

    <a href='/places/new'><strong>Add another trip?</strong></a>
    <br>
    <br>
    <a href='/places'><strong><em>View all Trip Locations?</em></strong></a>
  </div>
</body>

</html>